/*Universal Styles*/
html {
  font-size: 16px;
}

body {
  margin-top: 1rem;
  background-color: #BDECB6;
  Font-Family: 'Catamaran', Sans-Serif;
  color: #353635;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 0.75rem;
}

#idiot {
  font-size: 4rem;
  margin: auto;
}

.mobile-description {
  display: none;
}


/*Game*/
.card {
  height: 8.5rem;
  border: 4px solid #BDECB6;
  border-radius: 8px;
  background-color: rgb(32, 64, 86);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(13) {
background-color: rgb(246, 75, 66);
}

.card:nth-child(14) {
background-color: rgb(227, 186, 94);
}

.card:nth-child(15) {
  background-color: rgb(222, 111, 32);
  border: 4px solid #BDECB6;
}

.card:nth-child(16) {
background-color: rgb(93, 80, 191);
}

.card img {
  width: 3rem;
}

.card:hover {
background-color: #3e8e41;
transform: translateY(4px);
}


#sign {
  font-size: 1.75rem;
}


/*Total*/
span {
  font-size: 4rem;
}

#total {
display: flex;
justify-content: flex-end;
align-items: center;
}

#total img {
  width: 2.5rem;
}


/*Footer*/
footer {
text-align: right;
margin-top: 0.75rem;
}


/*Media Queries*/
@media only screen and (max-width:991px) {
  body {
    margin-top: 0;
  }

  .card {
    height: 6rem;
  }
}


  @media only screen and (max-width:530px) {
    body {
      margin-top: 0;
    }

    .mobile-description {
      display:block;
    }

        .desktop-description {
          display: none;
        }

#b {
  width: 2rem;
}

#c {
  width: 2rem;
}
    .card {
      height: 5rem;
    }

    .card h2 {
      font-size: 1rem;
    }

    h1 {
  font-size: 2.75rem;
  text-align: center;
  margin-top: 0.5rem;
    }



    p {
      margin-bottom: 1.5rem;
    }

    #sign {
      font-size: 1rem;
    }

    footer {
      text-align: left;
      margin-top: 1.5rem;
    }

    #idiot {
      font-size: 2.5rem;
      margin: auto;
    }

#game {
  margin-top: -1rem;
  padding: 0 1.25rem;
}

#how {
display: none;
}

#description {
  text-align: center;
}




}
